<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Challenge</title>
</head>
<body>
   <h1>Contacts Page</h1> 
   
     <ul>
    {% for contact in contacts %}
       <li>{{ contact.name }}</li> 
       <form method="POST" action="/delete">
       <input type="hidden" name="contact_to_delete" value="{{ contact.name }}">
       <input type="submit" value="Delete"/>
       </form>
    {% endfor %}
    </ul>
    
    
     <form method="POST">
      
        <label for="name">Name: </label>
        <input type="text" name="name"/>
        
        <label for="phone">Phone: </label>
        <input type="text" name="phone"/>
        
        <input type="submit" value="Submit"/>
    </form>
        
</body>
</html>